*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    text-align: center;
}
form{
    max-width: 80%;/*ancho maximo para el contenedor padre,permite que sea responsivo*/
    margin: auto;/*centra el formulario en el centro de la pagina*/
    background-color:rgb(69, 96, 105) ;
    border-radius: 5px;/*bordes redondeados*/
    border: 3px rgb(126, 113, 105);
    padding: 20px;/*espacio entre todos los elementos del formulario*/
    padding-left: 40px;/*espacio a la izquierda del formulario*/
}
table{
    width: 90%;/*el ancho de la tabla respecto al contenedor grande sera de un 90%*/
    margin-bottom: 20px;/*aplica un margen inferior al finalizar la tabla pa diferenciar con el resto de elementos*/
    margin: auto;/*centra la tabla*/
    border-collapse: collapse;/*une las celdas colapsando los bordes de las celdas*/
}
table,th,td{/*aplicara estilos a las celdas y los encabezados de la tabla*/
    border: solid 1px;/*aplica un borde solido a la tabla,celdas y encabezados*/
    border-color: aliceblue;
    font-size: 1.05em;
    background-color: rgb(99, 94, 94);
}
label{ /*aplicara a todas las etiquetas*/
    display: block;/*alinea las etiquetas en bloque*/
    font-weight: bold;/*negrita*/
    border-radius: 5px;
    margin-top: auto;/*para centrar los label dentro de las celdas*/
    margin-bottom: 10px;
    padding: 8px 12px;/*añade un espacio de 8 pix arriba y abajo y 12 a los lados*/
}
tr:nth-of-type(even) label{/*aplica a los label(etiquetas) pares que son descendientes de un tr*/
    background-color: rgb(17, 28, 49);
    color:rgb(233, 229, 236);/*cambia el color del texto*/
}
tr:nth-of-type(odd) label{/*aplicara solo a las etiquetas IMPARES descendientes de un tr*/
    background-color: yellow;

}
label[for^="opcion"],/*aplicara a las etquetas que tienen un atributo for que empiezan por opcion/checkbox*/
label[for^="checkbox"]{
    display: inline-block;/*para que se alineen en linea horizontal*/
    margin-right: 10px;
    padding-top: 10px;/*aplica un espacio superior de 10px */
}
a{/*enlaces*/
    text-decoration: none;/*quitas el subrayado de los enlaces*/
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
a:link{/*enlaces no visitados*/
    color: gold;
}
a:visited{/*para los enlaces visitados*/
    color: red;
}
a:hover{/*cuando se pasa por encima del enlace con el puntero*/
    color: aqua;
}
img{
    display: block;/*para que se comporte como un bloque*/
    max-width: 20%;
    max-height: auto;
    margin: auto;/*centra la imagen*/
    margin-top: 10px;
    margin-bottom: 10px;
}
img:hover{/*cuando pases el cursor sobre la imagen*/
    background-color: aliceblue;
    border: solid 2px black;/*un borde solido de 2px negro*/
}
input{/*para todas las entradas*/
    padding: 10px;/*aplica un espacio de 10px a todos los lados del campo de entrada*/
    margin: 15px;
    border: solid 2px #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input:focus,select:focus{/*aplicara los estilos a los elementos de entrada(input)y los elementos de seleccion(select) cuando pulses sobre ellos*/
    background-color: blueviolet;
    color: antiquewhite;
    border: 2px solid black;
}
input:default{/*aplicara los estilos a los input que tengan un valor como default (checked)*/
    box-shadow: 0 0 5px 4px green;
}
input:disabled{/*aplicara los estilos a los input que esten desactivados (telefono)(disabled*/
    background-color: rgb(36, 29, 29);
    color: azure;
}
input[required]{/*aplicara los estilos a los input que se requieran obligatorios antes de enviar el formulario (required)*/
    border: solid 2px blue;
}
select{/*aplicara los estilso para los selects en los que tengas que elegir alguna opcion*/
    padding: 10px;
    border: 2px solid wheat;
    border-radius: 5px;
    font-size: 20px;
    width: 50%;/*establece que ocupe el 50% del contenedor en el que se encuentra el select*/
}
optgroup{/*aplicara los estilos para los grupos de opciones de los selects*/
    color: cadetblue;
}
option{
    color:lawngreen;
}
button{
    font-weight: bold;
    font-size: 1.02em;/*un 2% mas grande de la fuente original*/
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border:0;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;/*si pasas el raton sobre el cursor de enviar se cambia a un puntero*/
    background-color: rgb(25, 163, 78);
    color: aliceblue;
    padding: 10px 20px;
}
button:hover{/*aplicara cuando se pase el cursor sobre el boton de enviar*/
    background-color: rgb(89, 89, 167);
}
a:active,/*aplicara estilos para los enlaces,los input y el boton cuando se pulse sobre ellos*/
input:active,
button:active{
    background-color: black;
    border: 3px solid yellow;
    color: azure;
}
p,h2{/*aplicara los estilos a p y h2*/
    display: block;/*hace que los parrafos y el encabezado h2 se comporten como un bloque*/
    background-color: aquamarine;
    color: rgb(8, 8, 8);
}
td h2::selection,/*aplicara los estilos cuando se pulse sobre una palabra del parrafo o de el encabezado h2*/
td p::selection{
    background-color: chartreuse;
    color: black;
}
footer{
    background-color: black;
    text-align: center;
    padding: 20px;
}
footer > p {/*aplicara estilos al parrafo dentro del footer*/
    display: inline-block;
    padding: 10px 5px;
    background-color: rgb(63, 58, 58);
    color: aliceblue;
}
footer > p:hover{
    display: inline-block;
    padding: 10px 5px;
    background-color: rgb(236, 69, 69);
    color: aliceblue;
}
footer p::first-letter{/*se aplicaran estilos para la primera letra del parrafo del footer*/
    font-size: 2em;
    color: aqua;
    font-weight:bold ;
}
footer p::selection{/*se aplicaran estilos cuando pulse sobre una palabra del parrafo del footer*/
    background-color: blueviolet;
    color: black;
}